#image-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  
}

img {
    max-width: 200px;
    max-height: 200px;
    justify-self: center;
}

button  {
    background-color: black;
    color: white;
}



body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: green;
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-size: 60px;
}

h2 {text-align: center;

}